* {

}

.nav-buttons {
    color: cornflowerblue;
    background-color: red;
    font-size: 20px;
    font-family: Helvetica, Garamond, Arial;
    border: none;
    border-radius: 10px;
    /*box-shadow: 0 0 0;*/
    margin: 15px;
    padding: 5px;
}
