.nav-bar {
    font-family: Helvetica, Garamond, Arial;
    background-color: hsl(36, 100%, 90%);
    background-size: cover;
    background-attachment: fixed;
    /*position: relative;*/
    flex-wrap: wrap;
    text-align: center;
    width: auto;
}

.log-button {
    color: cornflowerblue;
    background-color: red;
    font-size: 20px;
    font-family: Helvetica, Garamond, Arial;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 0;
    margin: 15px;
    padding: 5px;
}